.modal{
	width: 500px;
	border: 2px solid black;
	position: absolute;
	background: #fff;
	margin: auto;
	top: 50px;
	left: 0;
	right: 0;
	height: max-content;
	.header{
		padding: 15px 30px;
		background: #000;
		color: white;
		font-size: 25px;
		position: relative;
		svg{
			background: #fff;
			position: absolute;
			right: 30px;
			top: 0;
			bottom: 0;
			margin: auto;
			cursor: pointer;
		}
	}
	.body{
		padding: 15px 30px;
		ul{
			padding: 0 0 0 17px;
		}
		button{
			margin-top: 15px;
		}
	}
}