.card{
	max-width: 500px;
	.h2{
		text-align: center;
		padding-bottom: 15px;
	}
	.label{
		display: block;
		&:not(:last-child){
			margin-bottom: 15px;
		}
		b{
			display: block;
			margin-bottom: 3px;
		}
		.input{
			display: block;
			font-size: 18px;
			padding: 10px 15px;
			width: 100%;
		}
	}
}


